<div class="container-fluid row ">
    <div class="col-md-2  vh-100 bg-body-tertiary shadow">
        <nav id="sidebar" class="d-md-block bg-light sidebar">
            <div class="p-3 border mt-2 rounded bg-white">
                <h3>Simple <span class="text-primary fw-bold">Ecommerce</span></h3>
            </div>
            <div class="position-sticky mt-5">
                <div class="list-group">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </nav>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
        <div class="container rounded bg-white mt-5 mb-5 border shadow">
            <div class="row">
                <div class="col-md-3 border-end border-3">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="fw-bold fs-4">{{user.firstName}} {{user.lastName}}</span><span
                            class="text-black-50">{{user.email}}</span><span>
                        </span></div>
                </div>
                <div class="col-md-5 row" style="width: 50vw;">
                    <div class=" border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-center  mb-5">
                                <h4 class="text-right fw-bold">Profile Settings</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                        class="form-control" placeholder="" name="firstName"
                                        [(ngModel)]="user.firstName">
                                </div>
                                <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                        class="form-control" placeholder="" name="lastName" [(ngModel)]="user.lastName">
                                </div>
                                <div class="col-md-6"><label class="labels">Phone</label><input type="tel"
                                        class="form-control" placeholder="" name="phone" [(ngModel)]="user.phone"></div>
                                <div class="col-md-6"><label class="labels">Email</label><input type="email"
                                        class="form-control" placeholder="" name="email" [(ngModel)]="user.email"></div>
                            </div>
                            <!-- <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Password</label><input type="password" class="form-control"
                                placeholder="" name="Password"></div>
                    </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end vw-100">
                        <div class="p-3 py-5">
                            <button type="button" class="btn btn-outline-primary px-5"
                                (click)="updateUser()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>