<div class="col-md-2  vh-100 bg-body-tertiary shadow">
    <nav id="sidebar" class="d-md-block bg-light sidebar">
        <div class="p-3 border mt-2 rounded bg-white">
            <h3 >Simple <span class="text-primary fw-bold">Ecommerce</span></h3>
        </div>
        <div class="position-sticky mt-5">
            <div class="list-group">
                <a [routerLink]="'/home'" [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'py-3': true, 'active': isActive('/home')}" aria-current="true">
                    Home
                </a>
                <a [routerLink]="'/profile'" [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'py-3': true, 'active': isActive('/profile')}">
                    Profile
                </a>
                <a [routerLink]="'/new/product'" [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'py-3': true, 'active': isActive('/new/product')}">
                    New product
                </a>
                <a [routerLink]="'/logout'" [ngClass]="{'list-group-item': true, 'list-group-item-action': true, 'py-3': true, 'active': isActive('/logout')}">
                    Logout
                </a>
            </div>
        </div>
    </nav>
</div>