<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <div class="list-group">
                    <a href="/home" class="list-group-item list-group-item-action" aria-current="true">
                        Home
                    </a>
                    <a href="/profile" class="list-group-item list-group-item-action">Profile</a>
                    <a href="new/product/" class="list-group-item list-group-item-action active">New product</a>
                    <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
                </div>
            </div>
        </nav>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container rounded bg-white mt-5 mb-5 bg-light">
            <form>
                <div class="mb-3">
                    <label for="productName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="productName" placeholder="Enter product name" name="name"[(ngModel)]="product.name" required>
                </div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="productDescription" rows="3"
                        placeholder="Enter product description"
                         name="description" [(ngModel)]="product.description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Price</label>
                    <input type="number" class="form-control" id="productPrice" name="price" placeholder="Enter product price"
                        [(ngModel)]="product.price" required>
                </div>
                <button type="submit" class="btn btn-primary" (click)="newProduct()">Create Product</button>
            </form>

        </div>
    </main>
</div>